<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Blaster - The Blaster Depository</title>
</head>
<body>
    <nav>
        <a th:href="@{/}">List Blasters</a>
        <a th:href="@{/add-blaster}">Add Blaster</a>
    </nav>

    <h1>Add Blaster</h1>

    <form th:action="@{/blasters}" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" placeholder="e.g. E-11 Blaster Rifle" required />

        <label for="capacity">Ammunition Capacity</label>
        <input type="number" name="capacity" id="capacity" placeholder="e.g. 50" required />

        <label for="quality">Ammunition Quality</label>
        <select name="quality" id="quality" required>
            <option value="">--Please choose an option--</option>
            <option value="LOW">Low quality (Produces red bolt)</option>
            <option value="MEDIUM">Medium quality (Produces yellow bolt)</option>
            <option value="HIGH">High quality (Produces green bolt)</option>
        </select>

        <input type="submit" value="Add Blaster" />
    </form>
</body>
</html>