<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create your account</title>
</head>
<body>
<nav>
    <a th:href="@{/}">List all ads</a>
    <a th:href="@{/add-blaster}">Add ad</a>
</nav>

<h1>Add personal data</h1>

<form th:action="@{/blasters}" method="post">

    <label for="email">Email: </label>
    <input type="text" name="email" id="email" placeholder="Input your email" required />

    <label for="name">Name: </label>
    <input type="text" name="name" id="name" placeholder="Input your name" required />

    <label for="kommun">kommun: </label>
    <input type="text" name="kommun" id="kommun" placeholder="Kommun" required />

    <label for="size_of_area">Size_of_area: </label>
    <input type="number" name="size_of_area" id="size_of_area" placeholder="Size_of_area" required />

    <label for="phonenumber">Phonenumber: </label>
    <input type="text" name="phonenumber" id="phonenumber" placeholder="Input yor phonenumber" required />


    <input type="submit" value="Create your account" />
</form>
</body>
</html>