<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index - List of ads</title>
</head>
<body>
    <nav>
        <a th:href="@{/}">List ads</a>
        <a th:href="@{/add-blaster}">Add an add</a>
        <a th:href="@{/add-member}">Create your account</a>
        <a th:href="@{/login}">Login</a>
    </nav>

    <h1>List of ads</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dto : ${annonsDTOs}">
                <td th:text="${dto.getName()}"></td>
                <td th:text="${dto.getPrice()}"></td>
                <td th:image="${dto.getImage()}"></td>
                < img th:src="@{showImage(dto.getImage)}" / >
            </tr>
        </tbody>
    </table>
</body>
</html>