<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index - List of ads</title>
</head>
<body>
    <nav>
        <a th:href="@{/}">List ads</a>
        <a th:href="@{/add-blaster}">Add an add</a>
        <a th:href="@{/add-member}">Create your account</a>
        <a th:href="@{/login}">Login</a>
    </nav>
    <h1>Choose your activity</h1>
    <h2>TodoItems</h2>
    <form th:action="@{/query}" method="post">

        <label for="categoryq">Category: </label>
        <select name="category" id="categoryq" required>
            <option value="">--Please choose an option--</option>
            <option value="H">Run</option>
            <option value="FOREST">Defending</option>
        </select>

        <input type="submit" value="query" />
    </form>
    <h2>People</h2>
    <form th:action="@{/sortby}" method="post">

        <label for="categoryr">Category: </label>
        <select name="category" id="categoryr" required>
            <option value="">--Please choose an option--</option>
            <option value="H">Pires</option>
            <option value="FOREST">Keown</option>
        </select>

        <input type="submit" value="Sortby" />
    </form>
    <table>
        <thead>
            <tr>
                <th>Todo-id</th>
                <th>Description</th>
                <th>Done</th>
            </tr>
        </thead>
        <tbody>
        <tr>

            <p th:text="'Last added person: '+${person1}"></p>

        </tr>
        <tr>

            <p th:text="'TodoItem: '+${todoone}"></p>

        </tr>
        <tr>
                <tr th:each="category : ${categories}">
                    <td th:utext="${category.todoId}"></td>
                    <td th:utext="${category.description}"></td>
                    <td th:utext="${category.done}"></td>
                    <td th:utext="${category.assignee}"></td>
                </tr>
        </tr>

        <button type="button" th:onclick="|window.location.href='/eraseTodoItem'|">Remove last TodoItem</button>
        <th></th>
        <button type="button" th:onclick="|window.location.href='/clearTodoItem'|">Clear all TodoItems</button>

        <!--<input type="submit" value="Remove" />-->

        <!--
        <tr>

           <p th:text="'The amount of money on the account: '+${balanceAccount}"></p>

        </tr>
        -->
        <!--
            <tr th:each="dto : ${annonsDTOs}">
                <td th:text="${dto.getName()}"></td>
                <td th:text="${dto.getPrice()}"></td>
                <th scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{dto.getImage}}" style="width: 100px;height: 100px;"></th>
            </tr>
        -->
        </tbody>
    </table>
</body>
</html>